{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}?v=2">

    <meta name="theme-color" content="#02fcfc">


    {% block linksCss %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'pwa/img/logo.png' %}" type="image/x-icon">

    <title>{% block title %}HydroSys{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pwa/css/main.css' %}">
</head>
<body>
    <header>
        <h1 class="tituloCentral">HydroSys 💧 {% block seccion %}{% endblock %}</h1>
    </header>
    <main>
        <div class="mainContent">
            {% block content %}

            {% endblock %}
        </div>
        <div class="mainButtons">
            <!--
            <a href=""><i class="fa-solid fa-arrow-left"></i></a>-->
            <a href="{% url 'cerrar_sesion' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </main>


    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'pwa/js/serviceworker.js' %}");
        }
    </script>

</body>
</html>

